N8N Json/Presolve 360 Triage and Automation.json
{
  "name": "Presolve 360 Triage and Automation",
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lgUDiK8eSMLnAPzOSJL4N0Recj_qzUb69xx5WZSPeBM",
          "mode": "list",
          "cachedResultName": "Tracker-Dispute Filing Portal- Presolve 360 (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lgUDiK8eSMLnAPzOSJL4N0Recj_qzUb69xx5WZSPeBM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 173271156,
          "mode": "list",
          "cachedResultName": "Master Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lgUDiK8eSMLnAPzOSJL4N0Recj_qzUb69xx5WZSPeBM/edit#gid=173271156"
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Petitioner Name",
              "fieldValue": "={{ $('Google Sheets Trigger').item.json['Name of Petitioner (Person or Company Filing the Dispute)'] }}"
            },
            {
              "fieldId": "Stakeholder Class",
              "fieldValue": "={{ $('Google Sheets Trigger').item.json['Stakeholder Type'] }}"
            },
            {
              "fieldId": "Service Track",
              "fieldValue": "={{ $json.service_track }}"
            },
            {
              "fieldId": "Smart Summary",
              "fieldValue": "={{ $json.smart_summary }}"
            },
            {
              "fieldId": "Urgency Level",
              "fieldValue": "={{ $json.urgency_level }}"
            },
            {
              "fieldId": "Legal Task",
              "fieldValue": "={{ $json.legal_task }}"
            },
            {
              "fieldId": "Ops Task",
              "fieldValue": "={{ $json.ops_task }}"
            },
            {
              "fieldId": "CM Task",
              "fieldValue": "={{ $json.cm_task }}"
            },
            {
              "fieldId": "Claim Value(INR)",
              "fieldValue": "={{ $json.claim_value }}"
            },
            {
              "fieldId": "Confidence Score",
              "fieldValue": "={{ $json.confidence_score }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d02d15cb-78f1-4e47-8865-86d2fa2c0e39",
      "name": "Google Sheets (Case MIS)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        192,
        896
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hS4aPSS40kRyjspQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "kapadiabhavyaus@gmail.com",
        "subject": "=[Outreach Task] {{ $json.urgency_level }} -{{ $('Google Sheets Trigger').item.json['Name of Respondent (The Other Party Involved)'] }}",
        "message": "=<div style=\"font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333; line-height: 1.6; max-width: 600px;\">\n  <h2 style=\"color: #495057; border-bottom: 2px solid #eee; padding-bottom: 10px;\">Case Management Outreach</h2>\n  \n  <p><b>Respondent Details:</b><br>\n  • <b>Company:</b>{{ $('Google Sheets Trigger').item.json['Name of Respondent (The Other Party Involved)'] }} <br>\n  • <b>Dispute Track:</b> {{ $json.service_track }}</p>\n\n  <p><b>Case Summary:</b><br>\n  <i>{{ $json.smart_summary }}</i></p>\n\n  <div style=\"background-color: #f9f9f9; border-left: 4px solid #495057; padding: 15px; margin: 20px 0;\">\n    <b>Assigned Outreach Task:</b><br>\n    {{ $json.cm_task }}\n  </div>\n\n  <div style=\"text-align: center; margin: 30px 0;\">\n    <a href=\"https://docs.google.com/spreadsheets/d/1lgUDiK8eSMLnAPzOSJL4N0Recj_qzUb69xx5WZSPeBM/edit?resourcekey=&gid=173271156#gid=173271156\" \n       style=\"background-color: #495057; color: #ffffff; padding: 12px 30px; text-decoration: none; border-radius: 4px; font-weight: 600; display: inline-block; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n       Open CM Dashboard\n    </a>\n  </div>\n\n  <p><b>Next Steps:</b></p>\n  <ul style=\"padding-left: 20px;\">\n    <li>Initiate contact with the respondent for initial dialogue or mediation.</li>\n    <li>Log the outcome of the outreach in the <b>'CM Status'</b> column.</li>\n  </ul>\n\n  <p style=\"font-size: 13px; color: #777; border-top: 1px solid #eee; padding-top: 15px;\">\n    <i>Automated by Presolve360 AI Project Manager</i>\n  </p>\n</div>",
        "options": {}
      },
      "id": "a501ae56-083e-4e0f-b7a2-8e048abd2f59",
      "name": "Email to Case Managers",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        560,
        800
      ],
      "webhookId": "a2ce3bd8-e73d-41ba-bb1f-e9ca894f8e80",
      "credentials": {
        "gmailOAuth2": {
          "id": "OyVO1QN3a6R4J7HU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1lgUDiK8eSMLnAPzOSJL4N0Recj_qzUb69xx5WZSPeBM",
          "mode": "list",
          "cachedResultName": "Tracker-Dispute Filing Portal- Presolve 360 (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lgUDiK8eSMLnAPzOSJL4N0Recj_qzUb69xx5WZSPeBM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1184856030,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lgUDiK8eSMLnAPzOSJL4N0Recj_qzUb69xx5WZSPeBM/edit#gid=1184856030"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        464
      ],
      "id": "c96ec369-f08b-4b7b-8130-812b600564c3",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "4OLXfjtDFZHHCLBI",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get data from the AI Project Manager node\n// We use the 'first()' method to avoid name-string errors\nconst aiDataRaw = $( 'Presolve 360 AI Project Manager' ).first().json.content.parts[0].text;\nconst aiData = JSON.parse(aiDataRaw);\n\n// 2. Get the RAW claim amount from the Trigger node\nconst rawSheetAmount = $( 'Google Sheets Trigger' ).first().json[\"Total Claim Amount (in Indian Rupees - INR)\"];\n\n// 3. Clean the amount into a pure number\nconst cleanedAmount = parseInt(rawSheetAmount.replace(/[^0-9]/g, '')) || 0;\n\n// 4. Return all parallel triage data for downstream nodes\nreturn {\n  service_track: aiData.service_track,\n  urgency_level: aiData.urgency_level,\n  smart_summary: aiData.smart_summary,\n  legal_task: aiData.legal_task,\n  ops_task: aiData.ops_task,\n  cm_task: aiData.cm_task,\n  claim_value: cleanedAmount,\n  confidence_score: aiData.confidence_score\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        480
      ],
      "id": "d3a802da-98ef-44cd-bc86-5b26b2c516e2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1088,
        496
      ],
      "id": "08c44aa9-c33c-4d39-b774-687dcdde37fd",
      "name": "Wait",
      "webhookId": "86a142b6-9d9a-4e50-ad50-96a6c952e59c"
    },
    {
      "parameters": {
        "sendTo": "kapadia.b@northeastern.edu",
        "subject": "=[Finance Alert] {{ $json.urgency_level }} - Ledger Verification for Case: {{ $('Google Sheets Trigger').first().json[\"Name of Petitioner (Person or Company Filing the Dispute)\"] }}",
        "message": "=<div style=\"font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333; line-height: 1.6; max-width: 600px;\">\n  <h2 style=\"color: #28a745; border-bottom: 2px solid #eee; padding-bottom: 10px;\">Operational Verification Required</h2>\n  \n  <p><b>Financial Details:</b><br>\n  • <b>Petitioner:</b> {{ $('Google Sheets Trigger').first().json[\"Name of Petitioner (Person or Company Filing the Dispute)\"] }}<br>\n  • <b>Claim Value:</b> <span style=\"font-weight: bold; color: #28a745;\">INR {{ $json.claim_value }}</span><br>\n  • <b>Priority:</b> {{ $json.urgency_level }}</p>\n\n  <div style=\"background-color: #f9f9f9; border-left: 4px solid #28a745; padding: 15px; margin: 20px 0;\">\n    <b>Assigned Operations Task:</b><br>\n    {{ $json.ops_task }}\n  </div>\n\n  <div style=\"text-align: center; margin: 30px 0;\">\n    <a href=\"https://docs.google.com/spreadsheets/d/1lgUDiK8eSMLnAPzOSJL4N0Recj_qzUb69xx5WZSPeBM/edit?resourcekey=&gid=173271156#gid=173271156\" \n       style=\"background-color: #28a745; color: #ffffff; padding: 12px 30px; text-decoration: none; border-radius: 4px; font-weight: 600; display: inline-block; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n       Verify in Master Tracker\n    </a>\n  </div>\n\n  <p><b>Next Steps:</b></p>\n  <ul style=\"padding-left: 20px;\">\n    <li>Reconcile the financial ledger against the petitioner's claimed amount.</li>\n    <li>Update the <b>'Ops Status'</b> column via the button above.</li>\n  </ul>\n\n  <p style=\"font-size: 13px; color: #777; border-top: 1px solid #eee; padding-top: 15px;\">\n    <i>Automated by Presolve360 AI Project Manager</i>\n  </p>\n</div>",
        "options": {}
      },
      "id": "931f3d0e-a9f6-4559-aaff-c51f547e7ef5",
      "name": "Email to OPS",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        560,
        496
      ],
      "webhookId": "ecc2311d-b7bc-4159-b949-b9337bdcdd8a",
      "credentials": {
        "gmailOAuth2": {
          "id": "OyVO1QN3a6R4J7HU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "kapadiabhavyaus@gmail.com",
        "subject": "=[{{ $json.urgency_level }} - Legal Task] {{ $json.service_track }} for {{ $('Google Sheets Trigger').first().json[\"Name of Petitioner (Person or Company Filing the Dispute)\"] }}",
        "message": "=<div style=\"font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333; line-height: 1.6; max-width: 600px;\">\n  <h2 style=\"color: #004a99; border-bottom: 2px solid #eee; padding-bottom: 10px;\">Internal Legal Action Required</h2>\n  \n  <p><b>Case Summary:</b><br>\n  A new <b>{{ $json.service_track }}</b> case has been triaged for <b>{{ $('Google Sheets Trigger').first().json[\"Name of Petitioner (Person or Company Filing the Dispute)\"] }}</b>.</p>\n\n  <p><b>Urgency Level:</b> <span style=\"color: #d9534f; font-weight: bold;\">{{ $json.urgency_level }}</span></p>\n\n  <div style=\"background-color: #f9f9f9; border-left: 4px solid #004a99; padding: 15px; margin: 20px 0;\">\n    <b>Assigned Legal Task:</b><br>\n    {{ $json.legal_task }}\n  </div>\n\n  <div style=\"text-align: center; margin: 30px 0;\">\n    <a href=\"https://docs.google.com/spreadsheets/d/1lgUDiK8eSMLnAPzOSJL4N0Recj_qzUb69xx5WZSPeBM/edit?resourcekey=&gid=173271156#gid=173271156\" \n       style=\"background-color: #004a99; color: #ffffff; padding: 12px 30px; text-decoration: none; border-radius: 4px; font-weight: 600; display: inline-block; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n       Update Case Status\n    </a>\n  </div>\n\n  <p><b>Next Steps:</b></p>\n  <ul style=\"padding-left: 20px;\">\n    <li>Review the relevant contract clauses and statutory notices mentioned above.</li>\n    <li>Update the <b>'Legal Status'</b> in the Master Tracker once review is complete.</li>\n  </ul>\n\n  <p style=\"font-size: 13px; color: #777; border-top: 1px solid #eee; padding-top: 15px;\">\n    <i>Automated by Presolve360 AI Project Manager</i>\n  </p>\n</div>",
        "options": {}
      },
      "id": "0f2c3a5f-6ed1-461d-9cb3-2d87303a0bc0",
      "name": "Email to Legal",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        560,
        240
      ],
      "webhookId": "a2ce3bd8-e73d-41ba-bb1f-e9ca894f8e80",
      "credentials": {
        "gmailOAuth2": {
          "id": "OyVO1QN3a6R4J7HU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        160,
        480
      ],
      "id": "c162259e-f966-4a44-b185-86408f568592",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=Stakeholder Type: {{ $json['Stakeholder Type'] }} Requested Service: {{ $json['Requested Service'] }} Dispute Description: {{ $json['Detailed Description of the Dispute'] }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "systemMessage": "=You are the AI Project Manager for Presolv360. Your goal is to perform a three-tier triage for every incoming dispute and generate specific, parallel tasks for all internal departments.\n\n1. Procedural Triage (Track Identification): Identify the procedural path: Negotiation (default offers), Mediation (facilitated dialogue), or Arbitration (contractual enforcement).\n\n2. Priority Triage (Urgency Assessment): Rate urgency from Low to Critical. Mark as 'Critical' if there is an immediate legal deadline or a 30-day notice period mentioned.\n\n3. Operational Triage (Task Generation): Generate a specific 'Call to Action' (CTA) for each department:\n\nlegal_task: Instructions regarding contract clauses, statutory notices, or legal validity.\n\nops_task: Instructions for financial ledger verification, documentation audits, or payment proof.\n\ncm_task: Instructions for stakeholder outreach, relationship management, or settlement dialogue.\n\n4. Output Format: You MUST output only a valid JSON object with the following keys: { \"service_track\": \"string\", \"urgency_level\": \"Low\" | \"Medium\" | \"High\" | \"Critical\", \"smart_summary\": \"1-sentence gist\", \"legal_task\": \"string\", \"ops_task\": \"string\", \"cm_task\": \"string\", \"confidence_score\": 0.0 to 1.0 }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -560,
        480
      ],
      "id": "4f516044-aca3-4864-ab51-46d8567afb7e",
      "name": "Presolv 360 AI Project Manager",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "googlePalmApi": {
          "id": "AD3pRzjzIcGRa797",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Presolv 360 AI Project Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Google Sheets (Case MIS)",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets (Case MIS)": {
      "main": [
        []
      ]
    },
    "Email to Case Managers": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        []
      ]
    },
    "Email to OPS": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email to Legal": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Email to Legal",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email to OPS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email to Case Managers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presolv 360 AI Project Manager": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1e4aa1b5-dc31-439f-843b-f152fd927346",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ca8e0b7e2787d56b9bbaca8a42c00ecdb31c3adfcfb9893cc020c8d03a3088c"
  },
  "id": "2CNIungZksK5bWzX",
  "tags": []
}